<div class="container text-center">
  <h1>About Page</h1>
  <p>We are DevMatch. Our company focuses on creating an exclusing community
  for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, vitae, totam, aliquid quibusdam debitis id labore qui deserunt culpa voluptate atque consequuntur nobis minima minus iusto voluptates illo. Est, sapiente!
  </p>
</div>